<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="">
  <meta content="" name="description">
  <title>{$task.title}</title>
  <meta name="keywords" content="慧元财富安全靠谱网上兼职赚钱平台">
  <meta name="description" content="慧元财富是一家网上兼职和创业的服务平台，暑假工兼职、大学生兼职、在家兼职等各类兼职人员赚钱平台。">
  <!--[if lt IE 9]>
  <script src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-web/v70/static-web/lib/html5shiv.min.js"></script>
  <![endif]-->
  <!--网易云无感验证-->
  <script charset="UTF-8" type="text/javascript" src="https://cstaticdun.126.net/load.min.js"></script>
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=22e181360e785951270f245716d21b91"></script>
  <link rel="stylesheet" type="text/css" href="http://developer.amap.com/Public/css/demo.Default.css"/>

  <link rel="stylesheet" href="../../../../public/static/css/auto_combine_d26ef.css">
  <link rel="stylesheet" href="../../../../public/static/js/layui/css/layui.css"  media="all">
  <script src="../../../../public/static/js/layui/layui.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</head>

<style>
  .modNewHeader a {
    color: #223a50 !important;
    border-right: none !important;
    border-left: none !important;
  }
  .modNewHeader .current {
    color: #00bcd4 !important;
  }

  .modNewHeader .logo_text {
    font-size: 26px !important;
  }
  .btn{
    display: block;
    margin: 20px auto 0;
  }
  .jobDetailContent .img_div{
    width: 21%;
    display: inline-block;
    padding: 10px 2%;
  }
  .jobDetailContent .img_div img{
    width: 100%;
  }
</style>

<body>
<!-- WEB导航栏 -->
<div class="modNewHeader modNewHeader_static">
  <div class="container">
    <!--<a href="#" class="logo"></a>-->
    <div class="nav-list">
      <a href="#" class="logo_text">慧元财富</a>
      <a href="#" class="currentCity"></a>
      <a href="/Index">首页</a>
      <a href="/Job" class="current">兼职</a>
      <a href="/News">最新资讯</a>
      <a href="/Aboutus">关于我们</a>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="contentWrap">
  <div class="content">

    <div class="jobContent">
      <!-- 暂无名额 添加 -->
      <div class="jobbody">
        <div class="jobTitleBlock">
          <div class="title">
            {$task.title}
          </div>
          <div class="titleTips"><span class="salary">{$task.money}元/天</span>
            <span>{$task.end_date}</span>
          </div>
        </div>

        <div id="mapContainer" class="map" data-position="全国可做，时间地点都不限" latlng="23.12911,113.264385"></div>
        <div class="baseInfo">
          <div><span>截止日期：</span><span>{$task.end_date}</span></div>
          <div><span>审核时长：</span><span>{$task.check_duration}小时</span></div>
          <div><span>完成时间：</span><span>{$task.finish_duration}小时</span></div>
          <div><span>重复执行：</span><span>{if condition="$task.is_repeat === 0"}否{else/}是{/if}</span></div>
        </div>
        <div class="jobDetail">
          <div class="title">任务说明</div>
          <div class="jobDetailContent">

            {volist name="task.step" id="vo" key="i"}
            {$i}、{$vo}<br/>
            {/volist}

            {volist name="task.show_img" id="vo" key="i"}
            <div class="img_div"><img src="{$vo}"/></div>
            {/volist}

          </div>

          <div class="title">提交说明</div>
          <div class="jobDetailContent">

            {$task.submit_notice}<br/>

            {volist name="task.submit_img" id="vo" key="i"}
            <div class="img_div"><img src="{$vo}"/></div>
            {/volist}

          </div>
          <div class="tips">注意事项：{$task.take_care}</div>
        </div>
        <!--<div id="applyWrap" class="applyWrap">-->
          <button type="button" class="btn" onclick="showQrCode()">报名参加</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="jobTime" class="hide">
  <div id="J_datePicker"></div>
</div>

<!-- 快速报名 -->
<div class="quick-apply-popup">
  <div class="view">
    <i class="close"></i>
    <h1>趣步…走路赚钱，让你的生活更有趣</h1>
    <p class="info">
      兼职日期：2019.06.19-2019.09.16</br>
      工作地址：全国可做，时间地点都不限</br>
      报名限制：没有报名限制
    </p>
    <p class="title">验证手机号-确保工资到账</p>
    <ul class="from">
      <li>
        <span>兼客姓名：</span>
        <input type="text" class="quick-apply-true-name jk-input" placeholder="输入真实姓名">
      </li>
      <li>
        <span>性别：</span>
        <div class="sex  quick-apply-info-sex">
          <p class="active" data-value="0">女</p>
          <p  data-value="1">男</p>
        </div>
      </li>
      <li>
        <span>手机号码：</span>
        <input type="text" class="jk-input quick-apply-telphone" placeholder="输入你的手机号" maxlength="11">
      </li>
      <!--<li>
        <span>图形码：</span>
        <input type="text" class="code jk-input quick-apply-pic-code" placeholder="输入图形码">
        <img src="/web/getImgRandCode?0.45" class="imgCode"/>
      </li>-->
      <li>
        <span>动态密码：</span>
        <input type="text" class="code jk-input quick-apply-telphone-code" placeholder="输入6位手机验证码">
        <p class="getCode" id="btnGetVCode">获取验证码</p>
      </li>
    </ul>
    <div class="submit">
      <button class="quick-apply-submit" type="button">完成并报名</button>
      <span class="cont">
            已有账号？<span class="toLogin">去登录</span>
          </span>
    </div>
  </div>
</div>

<!-- 完善信息 -->
<div class="complete-info-popup">
  <div class="view">
    <i class="close"></i>
    <h1>完善信息</h1>
    <ul class="from">
      <li>
        <span>真实姓名：</span>
        <input class="complete-info-true-name jk-input" type="text" placeholder="输入你的姓名">
      </li>
      <li>
        <span>性别：</span>
        <div class="sex complete-info-sex">
          <p class="active" data-value="0">女</p>
          <p data-value="1">男</p>
        </div>
      </li>
    </ul>
    <div class="submit">
      <button class="complete-info-submit" type="button">提交</button>
    </div>
  </div>
</div>
<!-- 3个弹窗 end -->
<div id="timeZone" class="hide">2019.06.19-2019.09.16</div>
<div id="pageData" class="hide">
  {
  "jobid":"915612",
  "is_accurate_job":"0",
  "userType":"",
  "hasResume":"",
  "isVerifyed": '',
  "has_applied_num":"",
  "apply_limit_min_on_board_time":"",
  "check_rel_name_verify": "",
  "check_life_photo": "",
  "check_health_cer" : "",
  "check_stu_id_card": "",
  "check_sex": "",
  "check_age": "",
  "check_height": "",
  "rel_name_verify": "0",
  "life_photo": "0",
  "health_cer" : "0",
  "stu_id_card": "0",
  "sex": "",
  "age": "",
  "height": "",
  "challenge":"669e462ee18da788",
  "apply_job_date": "" ,
  "source":"3"

  }
</div>

<!-- 尾部 -->
<div class="modFooter">
  <div class="container">
    <div class="e-a-c">
      <div class="item">
        <span>关于慧元</span>
        <p>
          <a rel="nofollow" href="/Aboutus">公司简介</a>
        </p>
      </div>
      <div class="item">
        <span>其他</span>
        <p>
          <a href="/News">最新资讯</a>
        </p>
      </div>
    </div>
    <div class="wechat">
      <span>扫描关注公众号</span>
      <p>
        <img src="../../../../public/static/images/huiyuancaifu.jpg"/>
      </p>
    </div>
    <div class="custom">

      {volist name="customer" id="vo"}
      <span>{$vo.name}：</span>
      <p>{$vo.value}</p>
      {/volist}

    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <span>粤ICP备19043642号</span>
    </div>
  </div>
</div>
</body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
  function showQrCode ()
  {
    layui.use('layer', function(){
      var layer = layui.layer;
      layer.open({
        type: 0,
        title: '请扫码关注微信公众号',
        content: '<img src="../../../../public/static/images/huiyuancaifu.jpg"/>' //这里content是一个普通的String
      });
    })
  }
</script>
</html>
