<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>慧元财富</title>
  <meta name="keywords" content="慧元财富安全靠谱网上兼职赚钱平台">
  <meta name="description" content="慧元财富是一家网上兼职和创业的服务平台，暑假工兼职、大学生兼职、在家兼职等各类兼职人员赚钱平台。">
  <!--[if lt IE 9]>
    <script src="/public/static/js/html5shiv.min.js"></script>
    <![endif]-->
  <link type="text/css" rel="stylesheet" href="/public/static/css/auto_combine_5a29e.css">
  <link rel="stylesheet" href="../../../../public/static/js/layui/css/layui.css"  media="all">
  <script src="../../../../public/static/js/layui/layui.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="/public//static/js/areaData_v2.js"></script>
</head>

<style>
  .modNewHeader a {
    color: #223a50 !important;
    border-right: none !important;
    border-left: none !important;
  }
  .modNewHeader .current {
    color: #00bcd4 !important;
  }

  .modNewHeader .logo_text {
    font-size: 26px !important;
  }
</style>

<body>
  <!-- WEB导航栏 -->
  <div class="modNewHeader modNewHeader_static">
    <div class="container">
      <!--<a href="#" class="logo"></a>-->
      <div class="nav-list">
        <a href="#" class="logo_text">慧元财富</a>
        <a href="#" class="currentCity"></a>
        <a href="/Index">首页</a>
        <a href="/Job" class="current">兼职</a>
        <a href="/News">最新资讯</a>
        <a href="/Aboutus">关于我们</a>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="contentWrap">
    <div class="content">
      <div class="breadcrumbs"></div>

      <div class="selectWrap" id="selectWrap">
        <div class="selectBlock">
          <div class="classify">
            <div class="classifyTitle">分类：</div>
            <div class="classifyList">
              {if condition="$taskType === ''"}
              <a href="/Job?taskType=&province={$province}&city={$city}" class="selected">全部</a>
              {else/}
              <a href="/Job?taskType=&province={$province}&city={$city}">全部</a>
              {/if}

              {volist name="taskTypeList" id="vo"}
              {if condition="$vo.id == $taskType"}
              <a href="/Job?taskType={$vo.id}&province={$province}&city={$city}" class="selected">{$vo.name}</a>
              {else/}
              <a href="/Job?taskType={$vo.id}&province={$province}&city={$city}">{$vo.name}</a>
              {/if}
              {/volist}

            </div>
          </div>
          <div class="clear"></div>
          <div class="area">

            <div class="areaTitle">省份：</div>
            <div class="areaList">
              {if condition="$province === ''"}
              <a href="/Job?taskType={$taskType}&province=&city={$city}" class="selected">全国</a>
              {else/}
              <a href="/Job?taskType={$taskType}&province=&city={$city}">全国</a>
              {/if}

              {volist name="provinceList" id="vo"}
              {if condition="$vo.code === $province"}
              <a href="/Job?taskType={$taskType}&province={$vo.code}" class="selected">{$vo.name}</a>
              {else/}
              <a href="/Job?taskType={$taskType}&province={$vo.code}">{$vo.name}</a>
              {/if}
              {/volist}
            </div>

            <div class="areaTitle">城市：</div>
            <div class="areaList">
              {if condition="$province === ''"}
              <a href="/Job?taskType={$taskType}&province=&city=" class="selected">全国</a>
              {else/}
              {if condition="$city === ''"}
              <a href="/Job?taskType={$taskType}&province={$province}&city=" class="selected">全市</a>
              {else/}
              <a href="/Job?taskType={$taskType}&province={$province}&city=">全市</a>
              {/if}
              {/if}

              {volist name="cityList" id="vo"}
              {if condition="$vo.code === $city"}
              <a href="/Job?taskType={$taskType}&province={$province}&city={$vo.code}" class="selected">{$vo.name}</a>
              {else/}
              <a href="/Job?taskType={$taskType}&province={$province}&city={$vo.code}">{$vo.name}</a>
              {/if}
              {/volist}
            </div>
          </div>
        </div>
      </div>
      <div class="main clearFloat">
        <div class="resultWrap fl">
          <div class="resultTitle" id="resultTitle">
            {if condition="$order === '0' || $order === ''"}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=0" class="current">默认</a>
            {else/}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=0">默认</a>
            {/if}

            {if condition="$order === '1'"}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=1" class="current">最新</a>
            {else/}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=1">最新</a>
            {/if}

            {if condition="$order === '2'"}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=2" class="current">赏金</a>
            {else/}
            <a href="/Job?taskType={$taskType}&province={$province}&city={$city}&order=2">赏金</a>
            {/if}
          </div>
          {if !empty($task)}
          <div class="resultContent">
            <div id="listWrap">
              <ul class="modJobList" id="task_list">

                {volist name="task" id="vo"}
                <li class="jobItem clearFloat">
                  <div class="rightBtn"><a href="javascript:showQrCode()"
                                           target="_blank" class="btn">报名</a></div>
                  <div class="modJobListImg">
                    <img src="{$vo.type_img}" alt="">
                  </div>
                  <div class="modJobListTxt">
                    <div class="title">
                      <a href="/Job/details?task_id={$vo.task_id}">{$vo.title}</a>
                    </div>
                    <p>
                      <span class="modIconTxt jobPrice">{$vo.money}元/天</span>
                      <span class="modIconTxt modIconTxt_gps">{$vo.city_name}</span>
                      <span class="modIconTxt modIconTxt_time">截止日期：{$vo.end_date}</span>
                    </p>
                  </div>
                </li>
                {/volist}

              </ul>
            </div>
          </div>
          <div class="paginationWrap" id="paginationWrap">
            <div id="page"></div>
          </div>
          {else/}
          <div class="resultContent">
            <div>
              <p style="font-size: 20px; text-align: center; line-height: 50px;">“暂无数据”</p>
            </div>
          </div>
          {/if}
        </div>
        <div class="adContainer fr">
          <div class="qr-code">
            <img src="../../../../public/static/images/huiyuancaifu.jpg"/>
            <div>扫码关注微信公众号</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomLink">
  </div>

  <!-- 尾部 -->
  <div class="modFooter">
    <div class="container">
      <div class="e-a-c">
        <div class="item">
          <span>关于慧元</span>
          <p>
            <a rel="nofollow" href="/Aboutus">公司简介</a>
          </p>
        </div>
        <div class="item">
          <span>其他</span>
          <p>
            <a href="/News">最新资讯</a>
          </p>
        </div>
      </div>
      <div class="wechat">
        <span>扫描关注公众号</span>
        <p>
          <img src="../../../../public/static/images/huiyuancaifu.jpg"/>
        </p>
      </div>
      <div class="custom">

        {volist name="customer" id="vo"}
        <span>{$vo.name}：</span>
        <p>{$vo.value}</p>
        {/volist}

      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <span>粤ICP备19043642号</span>
      </div>
    </div>
  </div>
<script>
  function showQrCode ()
  {
    layui.use('layer', function(){
      var layer = layui.layer;
      layer.open({
        type: 0,
        title: '请扫码关注微信公众号',
        content: '<img src="../../../../public/static/images/huiyuancaifu.jpg"/>' //这里content是一个普通的String
      });
    })
  }
</script>
  <script>
    layui.use('laypage', function () {
      var laypage = layui.laypage;
      //调用分页
      laypage.render({
        elem: 'page'
        , count: '{$count}' //数据总数
        , limit: '{$limit}'//每页显示条数
        , theme: '#00bcd4'
        , curr: '{$p}'//当前页
        , jump: function (obj, first) {
          //obj包含了当前分页的所有参数，比如：
          //首次不执行
          if (!first) {
            window.location.href = '/Job?taskType={$taskType}&province={$province}&city={$city}&order={$order}&p=' + obj.curr + '&limit=' + obj.limit;
          }
        }
      });
    })
  </script>
</body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</html>