<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>慧元财富</title>
  <!--<meta name="keywords" content="兼职网_网络兼职_大学生兼职_周末兼职">-->
  <!--<meta name="description"-->
    content="兼客兼职是安全靠谱的网上兼职服务平台,免费发布大量最新兼职招聘信息,包括网上兼职、周末兼职、暑期工、大学生兼职、促销员、话务员、家教等各类高薪兼职招聘信息。让您快速找兼职放心做兼职。">
  <!--[if lt IE 9]>
    <script src="/public/static/js/html5shiv.min.js"></script>
    <![endif]-->
  <link type="text/css" rel="stylesheet" href="/public/static/css/auto_combine_d5456.css">
  <link rel="stylesheet" href="../../../../public/static/js/layui/css/layui.css"  media="all">
  <script src="../../../../public/static/js/layui/layui.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<style>
  .banner{
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px!important;
    height: 600px!important;
  }
  .banner img{
    width: 100%;
  }
  .recommandJob{
    margin-top: 40px!important;
  }
  .slogen{
    left: 250px!important;
  }
  .qr-code{
    background-image: none!important;
  }
  .modNewHeader a{
    color: #223a50!important;
    border-right: none!important;
    border-left: none!important;
  }
  .modNewHeader .current {
    color: #00bcd4 !important;
  }
  .modNewHeader .logo_text{
    font-size: 26px!important;
  }
  .link{
    padding: 20px 0;
  }
  .link li{
    width: 25%;
    float: left;
    text-align: center;
  }
</style>

<body>
<div class="modNewHeader modNewHeader_static">
  <div class="container">
    <!--<a href="#" class="logo"></a>-->
    <div class="nav-list">
      <a href="#" class="logo_text">慧元财富</a>
      <a href="#" class="currentCity"></a>
      <a href="/Index" class="current">首页</a>
      <a href="/Job">兼职</a>
      <a href="/News">最新资讯</a>
      <a href="/Aboutus">关于我们</a>
    </div>
  </div>
</div>
<div class="clear"></div>
  <!--页面数据[start]-->
  <!-- 主页海报 -->
  <section>
    <div class="masthead">
      <div class="layui-carousel banner" id="test1" lay-filter="test1">
        <div carousel-item="">
          {volist name="banner" id="vo"}
            <a href="{$vo.url}"><img src="{$vo.img}"/></a>
          {/volist}
        </div>
      </div>
      <div class="container">
        <!--<div class="side left-side"></div>-->
        <!--<div class="side right-side"></div>-->
        <!--<div class="phone-img">
          <div class="side left-side"></div>
          <div class="side right-side"></div>
          <div class="title">兼客兼职</div>
          <div class="mobile-content">
            <ul>
              <li>
                <a href="#">
                  <span class="modJobListImg">
                    <img src="/public/picture/c767f47ce370479692cc8d0dd1601c1d.png" alt="">

                  </span>
                  <span class="modJobListTxt">
                    <span class="mod_name"> 手机兼职，在家可做，日赚800元</span>
                    <div class="salaryInfo">
                      <span class="money">300元/天</span>
                      <span class="obstruct"></span>
                      <span class="balance">完工结算</span>
                    </div>
                    <div class="modTime">
                      <span class="modIconTxt_gps">闽侯县</span>
                      <span class="obstruct"></span>
                      <span class="modIconTxt_time">04/30-06/30</span>
                    </div>
                    <div class="modPostion">
                      &lt;!&ndash; 优质岗位 &ndash;&gt;
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="modJobListImg">
                    <img src="/public/picture/c767f47ce370479692cc8d0dd1601c1d.png" alt="">

                  </span>
                  <span class="modJobListTxt">
                    <span class="mod_name">线上兼职，手机随时可做。现做现结！</span>
                    <div class="salaryInfo">
                      <span class="money">20元/次</span>
                      <span class="obstruct"></span>
                      <span class="balance">完工结算</span>
                    </div>
                    <div class="modTime">
                      <span class="modIconTxt_gps">上海全市</span>
                      <span class="obstruct"></span>
                      <span class="modIconTxt_time">05/01-07/29</span>
                    </div>
                    <div class="modPostion">
                      &lt;!&ndash; 优质岗位 &ndash;&gt;
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="modJobListImg">
                    <img src="/public/picture/c767f47ce370479692cc8d0dd1601c1d.png" alt="">

                  </span>
                  <span class="modJobListTxt">
                    <span class="mod_name">火爆:手机兼职，微信随时可做，现做现结!</span>
                    <div class="salaryInfo">
                      <span class="money">150元/天</span>
                      <span class="obstruct"></span>
                      <span class="balance">完工结算</span>
                    </div>
                    <div class="modTime">
                      <span class="modIconTxt_gps">北京全市</span>
                      <span class="obstruct"></span>
                      <span class="modIconTxt_time">05/08-08/05</span>
                    </div>
                    <div class="modPostion">
                      &lt;!&ndash; 优质岗位 &ndash;&gt;
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="modJobListImg">
                    <img src="/public/picture/c767f47ce370479692cc8d0dd1601c1d.png" alt="">

                  </span>
                  <span class="modJobListTxt">
                    <span class="mod_name">轻松关注公众号 在家赚 现结</span>
                    <div class="salaryInfo">
                      <span class="money">50元/时</span>
                      <span class="obstruct"></span>
                      <span class="balance">当天结算</span>
                    </div>
                    <div class="modTime">
                      <span class="modIconTxt_gps">福州全市</span>
                      <span class="obstruct"></span>
                      <span class="modIconTxt_time">04/05-07/03</span>
                    </div>
                    <div class="modPostion">
                      &lt;!&ndash; 优质岗位 &ndash;&gt;
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="modJobListImg">
                    <img src="/public/picture/c767f47ce370479692cc8d0dd1601c1d.png" alt="">

                  </span>
                  <span class="modJobListTxt">
                    <span class="mod_name">高效手 机兼职 大量缺人 高薪日结</span>
                    <div class="salaryInfo">
                      <span class="money">500元/天</span>
                      <span class="obstruct"></span>
                      <span class="balance">当天结算</span>
                    </div>
                    <div class="modTime">
                      <span class="modIconTxt_gps">北京全市</span>
                      <span class="obstruct"></span>
                      <span class="modIconTxt_time">04/29-07/11</span>
                    </div>
                    <div class="modPostion">
                      &lt;!&ndash; 优质岗位 &ndash;&gt;
                    </div>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>-->

        <!--<div class="slogen">
          <div class="title">
            <span class="left-title indent">闲时间</span>
            <div class="right-title"><span class="indent">能赚钱</span></div>
          </div>
          <div class="desc">国内专业的兼职平台，为您提供免费、海量、真实的兼职服务</div>
        </div>-->

        <div class="app-download">
          <div class="txt">扫码关注微信公众号</div>
          <div class="qr-code">
            <img src="../../../../public/static/images/huiyuancaifu.jpg"/>
          </div>
        </div>
        <!--<div class="whiteDown"></div>-->
      </div>
    </div>
  </section>

  <!--头部[start]-->
  <!--
    @require "modules/modNewHeader_v3/modNewHeader_v3.css"
    @require "modNewHeader_v3"
-->
  <!-- WEB导航栏 -->
  <!--<div class="modNewHeader modNewHeader_static">
    <div class="container">
      <a href="#" class="logo"></a>
      <div class="nav-list">
        <a href="./city.html" class="currentCity"></a>
        <a href="Index" class="current">首页</a>
        <a href="Job">兼职</a>
        <a href="News">最新资讯</a>
        <a href="Aboutus">关于我们</a>
      </div>
    </div>
  </div>-->
  <div class="clear"></div>

  <div class="container">
    <ul class="link">
      {volist name="link" id="vo"}
      <li>
        <a href="{$vo.url}"><img src="{$vo.img}"/></a>
      </li>
      {/volist}
      <div class="clear"></div>
    </ul>
  </div>

  <!--头部[end]-->

  <!-- 兼客介绍 -->
  <!--<section>
    <div class="container">
      <div class="service">
        <ul>
          <li>
            <i class="i-1"></i>
            <h2>海量兼职</h2>
            <p>各类兼职工作</br>自由选择，放心上岗</p>
          </li>
          <li>
            <i class="i-2"></i>
            <h2>真实可靠</h2>
            <p>经过多重审核，层层过滤</br>黑中介和虚假信息</p>
          </li>
          <li>
            <i class="i-3"></i>
            <h2>兼客众包</h2>
            <p>足不出户，在家</br>就可以完成兼职</p>
          </li>
        </ul>
      </div>
    </div>
  </section>-->
  <!-- 兼客成绩 -->
  <!--<section>
    <div class="find-job">
      <div class="container">
        <h2 class="indent base-service">他们通过兼客兼职平台找到了兼职</h2>
      </div>
      <div class="find-img">
        <p class="go-find-job"><a href="#" class="controlBtn">找兼职</a></p>
      </div>
    </div>
  </section>-->

  <!-- 提供的服务 -->
  <!--<section>
    <div class="container">
      <div class="service">
        <h2 class="indent service-detail">兼客企业服务介绍</h2>
        <ul>
          <li>
            <i class="i-4"></i>
            <h2>免费招聘</h2>
            <p>免费发布岗位</br>轻松招聘，高效管理</p>
          </li>
          <li>
            <i class="i-5"></i>
            <h2>VIP服务</h2>
            <p>专属VIP身份，尊享更多特权</br>岗位专属曝光</br>排名优先，流量暴涨</p>
          </li>
          <li>
            <i class="i-6"></i>
            <h2>人才匹配</h2>
            <p>主动招人，解决急招难题</br>多维度筛选，灵活</br>匹配合适人才</p>
          </li>
        </ul>
      </div>
    </div>
  </section>-->
  <!-- 合作企业 -->
  <!--<section>
    <div class="container">
      <div class="enterprise">
        <h1 class="indent company">合作企业</h1>
        <img src="/public/picture/enterprise.png" alt="" />
      </div>
      <div class="release-job"><a href="#" class="controlBtn">立马发布兼职</a></div>
    </div>
  </section>-->

  <!-- 最新岗位 -->
  <section>
    <div class="container">
      <div class="recommandJob">
        <ul class="nav" id="typeNav">
          <li class="title active">推荐兼职</li>
          <!--<li class="title">众包列表</li>-->
        </ul>
        <ul class="modJobList show">

          {volist name="task" id="vo"}
          <li class="clearFloat">
            <div class="rightBtn">
              <a href="javascript:showQrCode()" target="_blank" class="btn">报名</a>
              <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>-->
            </div>
            <div class="modJobListImg">
              <img src="{$vo.type_img}" alt="">
            </div>
            <div class="modJobListTxt">
              <a href="/Job/details?task_id={$vo.task_id}">
                {$vo.title}</a>
              <p>
                <span class="modIconTxt jobPrice">{$vo.money}元/天</span>
                <span class="modIconTxt modIconTxt_gps">{$vo.city_name}</span>
                <span class="modIconTxt modIconTxt_time">截止日期：{$vo.end_date}</span>
              </p>
            </div>
          </li>
          {/volist}

          <li class="clearFloat moreJob">
            <a href="/Job" target="_blank" class="getMoreTask">查看更多</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!--页面数据[end]-->
  <div class="bottomLink">
    <!--<div class="content">
      <div class="bottomWrap">
        <div class="linkWrap">
          <div class="citySite">
            <div class="linkTitle">城市分站:</div>
            <div class="links">
              <a href="http://bj.jianke.cc">北京兼职</a>
              <a href="http://sh.jianke.cc">上海兼职</a>
              <a href="http://gz.jianke.cc">广州兼职</a>
              <a href="http://jn.jianke.cc">济南兼职</a>
              <a href="http://sjz.jianke.cc">石家庄兼职</a>
              <a href="http://wuhan.jianke.cc">武汉兼职</a>
              <a href="http://cs.jianke.cc">长沙兼职</a>
              <a href="http://nc.jianke.cc">南昌兼职</a>
              <a href="http://nj.jianke.cc">南京兼职</a>
              <a href="http://hangzhou.jianke.cc">杭州兼职</a>
              <a href="http://fz.jianke.cc">福州兼职</a>
              <a href="http://xiamen.jianke.cc">厦门兼职</a>
              <a href="http://sz.jianke.cc">深圳兼职</a>
              <a href="http://cd.jianke.cc">成都兼职</a>
              <a href="http://xa.jianke.cc">西安兼职</a>
              <a href="http://cc.jianke.cc">长春兼职</a>
              <a href="http://zz.jianke.cc">郑州兼职</a>
              <a href="http://hf.jianke.cc">合肥兼职</a>
              <a href="http://sy.jianke.cc">沈阳兼职</a>
              <a href="http://cq.jianke.cc">重庆兼职</a>
              <a href="http://tj.jianke.cc">天津兼职</a>
            </div>
            <div class="splitLine">
              <div class="arrow-down"></div>
            </div>
          </div>
          <div class="friendLink">
            <div class="linkTitle">友情链接:</div>
            <div class="links">
              <a href="http://www.dxsjz.com" target="_blank">大学生兼职网</a>
              <a href="http://www.jzdd.net" target="_blank">兼职网</a>
            </div>
            <div class="splitLine">
              <div class="arrow-down"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i id="returnTop"></i>-->
  </div>

  <!-- 尾部 -->
  <div class="modFooter">
    <div class="container">
      <div class="e-a-c">
        <div class="item">
          <span>关于慧元</span>
          <p>
            <a rel="nofollow" href="/Aboutus">公司简介</a>
          </p>
        </div>
        <div class="item">
          <span>其他</span>
          <p>
            <a href="/News">最新资讯</a>
          </p>
        </div>
      </div>
      <div class="wechat">
        <span>扫描关注公众号</span>
        <p>
          <img src="../../../../public/static/images/huiyuancaifu.jpg"/>
        </p>
      </div>
      <div class="custom">

        {volist name="customer" id="vo"}
        <span>{$vo.name}：</span>
        <p>{$vo.value}</p>
        {/volist}

      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <span>粤ICP备19043642号</span>
      </div>
    </div>
  </div>
  <script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js "></script>

  <!-- 定位 -->
  <!--<script>
      var geolocation = new qq.maps.Geolocation("7XXBZ-X753F-4A3JN-JENMQ-LSMTZ-M6FCR", "jianke");
      geolocation.getLocation(function (res) {
          $('.currentCity span').html(res.city);
          $('.may_city a').html(res.city);
          console.log(res.city)
      }, function (err) {
          console.log(err)
      }, {
          timeout: 3000
      })
  </script>-->
</body>

<script>
  layui.use(['carousel', 'form'], function () {
    var carousel = layui.carousel
            , form = layui.form;

    //常规轮播
    carousel.render({
      elem: '#test1'
      , arrow: 'always'
    });
  })
  function showQrCode ()
  {
    layui.use('layer', function(){
      var layer = layui.layer;
      layer.open({
        type: 0,
        title: '请扫码关注微信公众号',
        content: '<img src="../../../../public/static/images/huiyuancaifu.jpg"/>' //这里content是一个普通的String
      });
    })
  }
</script>
<script>
    $(function(){
        $('.container .nav li').on('click',function(){
            let index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            console.log($('.container ul.modJobList')[0]);
            $($('.container .modJobList')[index]).addClass('show').siblings().removeClass('show');
        })
    })
</script>
</html>