<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>关于兼客</title>
    <!--[if lt IE 9]>
    <script src="/public/static/js/html5shiv.min.js"></script>
    <![endif]-->
<link type="text/css" rel="stylesheet" href="/public/static/css/auto_combine_0969b.css">
</head>
<body>
    <!--
    @require "modules/modNewHeader_v3/modNewHeader_v3.css"
    @require "modNewHeader_v3"
-->
	<!-- 头部 -->
<!-- WEB导航栏 -->
<div class="modNewHeader modNewHeader_static">
	<div class="container">
		<a href="#" class="logo"></a>
		<div class="nav-list">
			<a href="#" class="currentCity"></a>
			<a href="Index">首页</a>
			<a href="Job">兼职</a>
			<a href="News">最新资讯</a>
			<a href="Aboutus" class="current">关于我们</a>
		</div>
	</div>
</div>
<div class="clear"></div>

    
    <div class="mainContainer">
        <div class="main">
            <div class="companyInt">
                <div class="companyHead"><img src="static/picture/logo.png" alt="兼客logo"><span>关于我们</span></div>
                <!-- <span>【公司介绍】</span> -->
                <p>兼客兼职是国内领先的兼职平台，隶属于福州闲时间网络科技有限公司。在拥有海量兼职人员与兼职岗位的基础上，兼客兼职目前提供了找兼职全流程平台功能、兼职招聘全流程平台功能、兼职保障服务、代发兼职工资等服务。这些领先的功能与服务，帮助兼职者在兼客兼职上能方便安全地兼职，也帮助商家在兼客兼职上能够轻轻松松地招到兼职人员</p>
				<p>兼客兼职团队是由一群热爱互联网及兼职行业的年轻人组成，我们用责任来做这件事情，致力于打造国内最大的安全兼职平台。截止2017年3月，兼客兼职已有兼职用户500万，覆盖了全国186个城市，累计提供了120万个兼职岗位。</p>
				<p>公司地址：福州仓山区建新镇金工路1号海峡创意产业园2号楼2305-2306</p>
            </div>
            </div>
    </div>
    <!-- <link rel="import" href="/modules/modFooter/modFooter.html?__inline"> -->
     <!-- 尾部 -->
<div class="modFooter">
	<div class="container">
			<div class="e-a-c">
					<div class="item">
						<span>关于兼客</span>
						<p>
							<a rel="nofollow" href="./aboutus.html">公司简介</a>
							<a rel="nofollow" href="#">加入我们</a>
						</p>
					</div>
					<div class="item">
						<span>定制服务</span>
						<p>
							<a rel="nofollow" href="#">熊地推</a>
							<a rel="nofollow" href="#">兼客通告</a>
							<a rel="nofollow" href="#">兼客服务商</a>
						</p>
					</div>
					<div class="item">
						<span>其他</span>
						<p>
							<a rel="nofollow" href="#">帮助中心</a>
							<a rel="nofollow" href="#">建议反馈</a>
							<a href="./news.html">行业资讯</a>
							<a rel="nofollow" href="#">商务合作</a>
						</p>
					</div>
				</div>
		<div class="wechat">
			<span>扫描关注公众号</span>
			<p>
				<img src="static/picture/wx.png" />
			</p>
		</div>
		<div class="custom">
			<span>客服热线</span>
			<p>400-168-9788</p>
			<span>合作邮箱</span>
			<p>hz@jianke.cc</p>
		</div>			
	</div>
	<div class="bottom">
		<div class="container">
			<span>©2014-2019 JIANKE 闽ICP备15001133号-3</span>
		</div>
	</div>
</div>
</body>
</html>