<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>关于我们</title>
    <!--[if lt IE 9]>
    <script src="/public/static/js/html5shiv.min.js"></script>
    <![endif]-->
<link type="text/css" rel="stylesheet" href="/public/static/css/auto_combine_0969b.css">
</head>

<style>
	.modNewHeader a {
		color: #223a50 !important;
		border-right: none !important;
		border-left: none !important;
	}
	.modNewHeader .current {
		color: #00bcd4 !important;
	}

	.modNewHeader .logo_text {
		font-size: 26px !important;
	}
	.mainContainer{
		font-family:"微软雅黑";
	}
</style>

<body>
    <!--
    @require "modules/modNewHeader_v3/modNewHeader_v3.css"
    @require "modNewHeader_v3"
-->
	<!-- 头部 -->
<!-- WEB导航栏 -->
<div class="modNewHeader modNewHeader_static">
	<div class="container">
		<!--<a href="#" class="logo"></a>-->
		<div class="nav-list">
			<a href="#" class="logo_text">慧元财富</a>
			<a href="#" class="currentCity"></a>
			<a href="/Index">首页</a>
			<a href="/Job">兼职</a>
			<a href="/News">最新资讯</a>
			<a href="/Aboutus" class="current">关于我们</a>
		</div>
	</div>
</div>
<div class="clear"></div>

    
    <div class="mainContainer">
        <div class="main">
            <div class="companyInt">
                <div class="companyHead"><span>关于我们</span></div>
                <!-- <span>【公司介绍】</span> -->
                <p>{$company}</p>
            </div>
            </div>
    </div>
    <!-- <link rel="import" href="/modules/modFooter/modFooter.html?__inline"> -->
     <!-- 尾部 -->
	<div class="modFooter">
		<div class="container">
			<div class="e-a-c">
				<div class="item">
					<span>关于慧元</span>
					<p>
						<a rel="nofollow" href="/Aboutus">公司简介</a>
					</p>
				</div>
				<div class="item">
					<span>其他</span>
					<p>
						<a href="/News">最新资讯</a>
					</p>
				</div>
			</div>
			<div class="wechat">
				<span>扫描关注公众号</span>
				<p>
					<img src="../../../../public/static/images/huiyuancaifu.jpg"/>
				</p>
			</div>
			<div class="custom">

				{volist name="customer" id="vo"}
				<span>{$vo.name}：</span>
				<p>{$vo.value}</p>
				{/volist}

			</div>
		</div>
		<div class="bottom">
			<div class="container">
				<span>粤ICP备19043642号</span>
			</div>
		</div>
	</div>
</body>
</html>