<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新闻资讯</title>
	<meta name="keywords" content="慧元财富安全靠谱网上兼职赚钱平台">
	<meta name="description" content="慧元财富是一家网上兼职和创业的服务平台，暑假工兼职、大学生兼职、在家兼职等各类兼职人员赚钱平台。">
    <!--[if lt IE 9]>
    <script src="/public/static/js/html5shiv.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="../../../../public/static/js/layui/css/layui.css"  media="all">
	<script src="../../../../public/static/js/layui/layui.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/public/static/css/auto_combine_8b7f6.css">
</head>

<style>
	.modNewHeader a {
		color: #223a50 !important;
		border-right: none !important;
		border-left: none !important;
	}
	.modNewHeader .current {
		color: #00bcd4 !important;
	}

	.modNewHeader .logo_text {
		font-size: 26px !important;
	}
</style>

<body>
	<!-- 头部 -->
<!-- WEB导航栏 -->
<div class="modNewHeader modNewHeader_static">
	<div class="container">
		<!--<a href="#" class="logo"></a>-->
		<div class="nav-list">
			<a href="#" class="logo_text">慧元财富</a>
			<a href="#" class="currentCity"></a>
			<a href="/Index">首页</a>
			<a href="/Job">兼职</a>
			<a href="/News" class="current">最新资讯</a>
			<a href="/Aboutus">关于我们</a>
		</div>
	</div>
</div>
<div class="clear"></div>

    <section class="mainContainer">
        <div class="contentWrap">
			<div class="contentLeft fl">
				<div class="infoTitle">最新资讯</div>
				{if !empty($news)}
				<ul class="infoList">

					{volist name="news" id="vo"}
					<li>
						<a href="/zixun/1672.html"><img src="{$vo.img}" alt="图片"></a>
						<div>
							<a href="/News/details?news_id={$vo.news_id}"><h1>{$vo.title}</h1></a>
							<span>{$vo.gmt_create}</span>
							<p>{$vo.comment}</p>
						</div>
					</li>
					<li class="addbottom"></li>
					{/volist}

				</ul>
				<div class="paginationWrap" id="paginationWrap">
					<div id="page"></div>
				</div>
				{else/}
				<p style="font-size: 20px; text-align: center; line-height: 50px;">“暂无数据”</p>
				{/if}
			</div>
			<div class="contentRight fr">
				<div id="listWrap" class="jobContainer clearFloat">
				<div class="jobWrap">
				    <h3>最新兼职<i></i></h3>

					{volist name="task" id="vo"}
                    <section>
                        <a href="/Job/details?task_id={$vo.task_id}">
		                    <img src="{$vo.type_img}" alt="">
		                    <div class="contentblock">
		                    	<p>{$vo.title}</p>
		                        <div class="job_salary">
									<span>{$vo.money}元/天</span>
		                        </div>
		                        <div class="job_date">{$vo.end_date}</div>
		                    </div>
		                    <span class="job_gps">
	                            {$vo.city_name}
		                    </span>
	                    </a>
	                </section>
					{/volist}
                
				</div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- 尾部 -->
	<div class="modFooter">
		<div class="container">
			<div class="e-a-c">
				<div class="item">
					<span>关于慧元</span>
					<p>
						<a rel="nofollow" href="/Aboutus">公司简介</a>
					</p>
				</div>
				<div class="item">
					<span>其他</span>
					<p>
						<a href="/News">最新资讯</a>
					</p>
				</div>
			</div>
			<div class="wechat">
				<span>扫描关注公众号</span>
				<p>
					<img src="../../../../public/static/images/huiyuancaifu.jpg"/>
				</p>
			</div>
			<div class="custom">

				{volist name="customer" id="vo"}
				<span>{$vo.name}：</span>
				<p>{$vo.value}</p>
				{/volist}

			</div>
		</div>
		<div class="bottom">
			<div class="container">
				<span>粤ICP备19043642号</span>
			</div>
		</div>
	</div>
	<script>
		layui.use('laypage', function () {
			var laypage = layui.laypage;
			//调用分页
			laypage.render({
				elem: 'page'
				, count: '{$count}' //数据总数
				, limit: '{$limit}'//每页显示条数
				, theme: '#00bcd4'
				, curr: '{$p}'//当前页
				, jump: function (obj, first) {
					//obj包含了当前分页的所有参数，比如：
					//首次不执行
					if (!first) {
						window.location.href = '/News?p=' + obj.curr + '&limit=' + obj.limit;
					}
				}
			});
		})
	</script>
</body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</html>